/* Select All */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body All */
body {
  font-family: 'Merriweather Sans', sans-serif;
  background: #11121a;
  color: white;
}

header {
  background-color: #1c1c24;
  height: 70px;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 25px;
}

.header-container {
  max-width: 1250px;
  width: 100%;

  display: flex;
  align-items: center;

  padding: 0 25px;
}

.header-container .logo {
  height: 50px;

  margin-right: 10px;
}

.header-container .logo img {
  height: 100%;

  border: 3px solid orange;
  border-radius: 50%;
}

.search {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
}

.search-container {
  background-color: #1c1c24;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #222328;
  display: flex;
}

.input-container {
  flex-grow: 1;

  display: flex;
  align-items: center;
}

.input-container input {
  flex-grow: 1;

  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.input-container i {
  font-size: 25px;
  margin-left: 25px;
}

.button-container {
  background-color: #3060ff;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: all 0.2s ease;
}

.button-container:hover {
  background-color: #5a81ff;
}
